body { background: #9cb867; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 38px; display: flex; }
.block-search-0 { color: #8b00a5; font-size: 21px; margin-bottom: 5px; }
.block-invoice-1 { color: #72db5f; font-size: 19px; margin-bottom: 5px; }
.block-uploader-2 { color: #45b108; font-size: 17px; margin-bottom: 5px; }
.block-payment-3 { color: #83091; font-size: 17px; margin-bottom: 5px; }
.block-sms-4 { color: #9b8c47; font-size: 21px; margin-bottom: 5px; }
.block-user-5 { color: #41966b; font-size: 19px; margin-bottom: 5px; }
.block-invoice-6 { color: #de0fa5; font-size: 18px; margin-bottom: 5px; }
.block-invoice-7 { color: #798c56; font-size: 19px; margin-bottom: 5px; }
.block-order-8 { color: #2367e7; font-size: 20px; margin-bottom: 5px; }
.block-sms-9 { color: #ead3e2; font-size: 17px; margin-bottom: 5px; }
.block-auth-10 { color: #dd9f4b; font-size: 14px; margin-bottom: 5px; }